@charset "UTF-8";

/* ========================================================== 
                            Resets
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ========================================================== 
                        Image Links
========================================================== */

/* https://source.unsplash.com/random?night sky */
/* https://source.unsplash.com/random/?Cryptocurrency&1 */
/* https://picsum.photos/300/300?random=1 */

/* ========================================================== 
                            Fonts
========================================================== */

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Regular.ttf');
}

/* ========================================================== 
                Variables / Custom Properties
========================================================== */

/* ========================================================== 
                            Body
========================================================== */

body {
    margin-top: 50px;
    font-family: 'Roboto';
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

/* .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    
} */

/* ========================================================== 
                            Content
========================================================== */

.creditcard-wrapper {
    position: relative;
    max-width: 420px;
    background-color: white;
    padding-block: 100px 50px;
    padding-inline: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}


label {
    display: block;
    padding-bottom: 5px;
    font-size: 0.8rem;
}

form input {
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #767676;
}

form input:required:valid { 
    border: 2px solid green;
    color: green;
    font-weight: bold;
}

form input:required:invalid { 
    border: 2px solid #E5696B;
    color: #E5696B;
    font-weight: bold;
}

form input:not(input[type="submit"], input[type="month"]) {
    width: 100%;
    padding: 10px;
}

form input[type="month"] {
    padding: 8px;
    width: 180px;
    font-size: 0.93rem;
}

input[type="number"] {
    min-width: 60px;
}

form input[type="submit"] {
    padding: 15px 60px;
    background-color: #E5696B;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #a24b4c;
}

.expiration-date__cvv {
    display: flex;
    gap: 10px;
}

.expiration-date__cvv div:nth-of-type(2) label {
    text-align: right;
}

.submit {
    text-align: center;
    
}

.output {
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    background: url('./../images/background.png') center / cover no-repeat;
    transition: background 1s ease-in;
}

.output img {
    width: 35px;
    height: 35px;
    margin-bottom: 50px;
}

.output div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.output > p {
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 40px;
}

.output div:nth-of-type(2) {
    font-size: 0.75rem;
    color: #414141;
}

.output div:nth-of-type(3) {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}

.info {
    text-align: center;
    font-weight: bold;
}